@page "/department"

@using arna.HRMS.ClientServices.Auth
@using arna.HRMS.ClientServices.Department
@using arna.HRMS.Components.Common
@using arna.HRMS.Components.lib.components.ui.Forms
@using arna.HRMS.Models.Common.Table
@using arna.HRMS.Models.DTOs
@using arna.HRMS.ClientServices.Common

@inject IDepartmentService DepartmentService
@inject IJSRuntime JsRuntime
@inject NotificationService NotificationService
@inherits AuthenticatedLayoutBase

<FullPageLoader Visible="isLoading" /> 

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="fw-bold text-primary">Departments</h3>

        <AppButton cssclass="btn btn-success" Text="Add Department" OnClick="@(() => Navigation.NavigateTo("/department/create"))">
            <i class="bi bi-plus-lg"></i>
        </AppButton>
    </div>

    <div class="mb-3">
        <input type="text" placeholder="Search Departments..."
               class="form-control w-50 shadow-sm" />
    </div>

    <AppTable TItem="DepartmentDto"
                 Items="departments"
                 Columns="TableSchemas.Departments"
                 OnEdit="EditDepartment"
                 OnDelete="DeleteDepartment" />
</div>

@code {
    private List<DepartmentDto> departments = new();
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await LoadDepartments();
    }

    private async Task LoadDepartments()
    {
        isLoading = true;

        var result = await DepartmentService.GetDepartmentsAsync();

        if (result.IsSuccess && result.Data != null)
        {
            departments = result.Data;
        }
        else
        {
            departments = new List<DepartmentDto>();
        }

        isLoading = false;
    }

    private void EditDepartment(DepartmentDto department)
    {
        Navigation.NavigateTo($"/department/edit/{department.Id}");
    }

    private async Task DeleteDepartment(DepartmentDto department)
    {
        bool isConfirmed = await JsRuntime.InvokeAsync<bool>(
            "confirm",
            "Are you sure you want to delete this Department?"
        );

        if (!isConfirmed)
            return;

        var result = await DepartmentService.DeleteDepartmentAsync(department.Id);

        if (!result.IsSuccess)
        {
            NotificationService.Error($"Delete failed ({result.StatusCode}): {result.Message ?? "Unable to delete Department."}");
            return;
        }

        NotificationService.Success("Department deleted successfully.");
        await LoadDepartments();
    }
}
