.header-row {
    min-height: 56px;
}

.header-toggle {
    width: 38px;
    height: 38px;
}

.header-day {
    font-size: .7rem;
}

.header-hello {
    font-size: .9rem;
}

.header-divider {
    height: 24px;
}

.header-clock-bar {
    background: #f8f9fb;
}
