.attendance-icon-wrapper {
    display: flex;
    justify-content: center;
}

.attendance-svg .person,
.attendance-svg .tick,
.attendance-svg .tick-circle {
    stroke: #9ca3af;
    fill: none;
}

.attendance-svg.present .person,
.attendance-svg.present .tick,
.attendance-svg.present .tick-circle {
    stroke: #16a34a;
}

.attendance-svg.absent .person,
.attendance-svg.absent .tick,
.attendance-svg.absent .tick-circle {
    stroke: #dc2626;
}
.attendance-svg.holiday .person,
.attendance-svg.holiday .tick,
.attendance-svg.holiday .tick-circle {
    stroke: #5c9ded;
}

.attendance-svg.leave .person,
.attendance-svg.leave .tick,
.attendance-svg.leave .tick-circle {
    stroke: #ffc107;
}

.attendance-svg.no-data .tick,
.attendance-svg.no-data .tick-circle {
    display: none;
}
