.custom-request-box {
    transition: transform .2s ease, box-shadow .2s ease;
    border-radius: 15px;
}

    .custom-request-box:hover {
        transform: translateY(-4px);
        box-shadow: 0 .75rem 2rem rgba(0,0,0,.08);
    }

