@page "/"
@using System.Security.Claims
@using arna.HRMS.Components.Common
@inject NavigationManager NavigationManager

<style>
    .menu-card {
        border-radius: 30px;
        overflow: hidden;
    }
</style>

<FullPageLoader Visible="isLoading" />

@if (!isLoading)
{
    <div class="container">
    <h4 class="fw-bold mb-4">My Access</h4>
        <div class="row justify-content-center g-4 text-center">
            @foreach (var item in MenuItems)
            {
                <div class="col-6 col-md-2">
                    <div class="ratio ratio-1x1 mx-auto" style="max-width:150px;">
                        <div class="card shadow-sm border-0 menu-card d-flex justify-content-center align-items-center"
                             role="button"
                             @onclick='() => NavigateTo(item.Route)'>
                            <img src="@item.Icon"
                                 style="width:110%; height:110%; object-fit:contain;" />
                        </div>
                    </div>
                    <small class="fw-semibold d-block mt-1">@item.Label</small>
                </div>
            }
        </div>
    </div>
}

@code {
    private bool isLoading = true;
    private record MenuItem(string Label, string Icon, string Route);

    protected override async Task OnInitializedAsync()
    {
        isLoading = false;
    }

    private readonly List<MenuItem> MenuItems = new()
    {
        new("Task Box", "icons/Task.png", "/taskbox"),
        new("Employees", "icons/employees.png", "/employee/employeelist"),
        new("Time Sheet", "icons/time.png", "/timesheet"),
        new("Performance", "icons/performance.png", "/performance"),
        new("Project", "icons/project.png", "/project"),
        new("Leave Request", "icons/leaveRequest.png", "/leaverequest"),
        new("PIP", "icons/pip.png", "/pip")
    };

    private void NavigateTo(string route)
    {
        NavigationManager.NavigateTo(route);
    }
}
