.timeline-line {
    position: absolute;
    left: 12px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #e5e7eb;
}

.timeline-date {
    left: -34px;
}

.custom-date{
    border-radius: 10px;
}

.avatar {
    width: 38px;
    height: 38px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: -2px;
    right: -2px;
    border: 2px solid #fff;
}

.hover-card {
    transition: .2s ease;
    border-radius: 15px;
    border: 1px solid #f7f7f7;
}

    .hover-card:hover {
        box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.08);
        border-color: #f7f7f7;
    }

.custom-content{
    padding: 0px 24px;
    padding-left: 2rem !important;
}

.custom-card{
    padding: 4px;
    border-radius: 15px;
}

.custom-card-header {
    border-radius: 15px;
}

/* status colors */
.bg-status-present {
    background: #22c55e;
}

.bg-status-leave {
    background: #f59e0b;
}

.bg-status-late {
    background: #ef4444;
}

.bg-status-absent {
    background: #f87171;
}

.bg-status-holiday {
    background: #38bdf8;
}

.bg-status-halfday {
    background: #a78bfa;
}

.text-status-present {
    color: #16a34a;
    font-weight: 600
}

.text-status-leave {
    color: #d97706;
    font-weight: 600
}

.text-status-late {
    color: #dc2626;
    font-weight: 600
}

.text-status-absent {
    color: #b91c1c;
    font-weight: 600
}

.text-status-holiday {
    color: #0369a1;
    font-weight: 600
}

.text-status-halfday {
    color: #5b21b6;
    font-weight: 600
}
