.attendance-table-wrapper {
    max-height: 450px;
    overflow-y: auto;
    border-radius: 15px;
}

/* keep horizontal scroll */
.table-responsive {
    overflow-x: auto;
}

/* sticky header */
.custom-table thead th {
    position: sticky;
    top: 0;
    background: #f8f9fa;
    z-index: 10;
}

/* optional nice scrollbar */
.attendance-table-wrapper::-webkit-scrollbar {
    width: 8px;
}

.attendance-table-wrapper::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 10px;
}

/* soft pills */

.badge.bg-success {
    background: #dcfce7 !important;
    color: #166534;
}

.badge.bg-warning {
    background: #fef3c7 !important;
    color: #92400e;
}

.badge.bg-primary {
    background: #e0e7ff !important;
    color: #3730a3;
}

.badge.bg-secondary {
    background: #f1f5f9 !important;
    color: #475569;
}

.badge.bg-danger {
    background: #FFB8B8 !important; /* Extremely light red */
    color: #D10000 !important;
}

