@inherits LayoutComponentBase

<style>
    .sidebar {
        width: 260px;
        transition: width .3s;
    }

    .sidebar.collapsed {
        width: 80px;
    }

    .sidebar.collapsed .sidebar-text {
        display: none;
    }
</style>

<div class="d-flex bg-light min-vh-100">

    <NavMenu />

    <div class="flex-grow-1" style="margin-left:260px;">
        <TopBar/>
        <main class="p-4">
            @Body
        </main>
    </div>
</div>
