.toasting-container {
    position: fixed !important;
    right: 1rem !important;
    pointer-events: none !important;
    z-index: 1085 !important; /* above navbar, below modal */
}

.main-scroll::-webkit-scrollbar {
    width: 6px;
}

.main-scroll {
    scrollbar-width: thin;
}

.sidebar {
    transition: width .3s !important;
    overflow: hidden !important;
}