@using arna.HRMS.ClientServices.Common
@inherits LayoutComponentBase
@inject NotificationService NotificationService

<div class="d-flex min-vh-100">

    <div style="width:@(IsSidebarOpen ? "260px" : "0"); transition: width 0.3s ease; overflow:hidden;">
        <NavMenu />
    </div>

    <div class="flex-grow-1 d-flex flex-column">
        <TopBar OnToggleSidebar="ToggleSidebar" />
        <main class="container-fluid p-4">
            @Body
        </main>
    </div>

</div>


<!-- Toasts -->
<div class="position-fixed top-0 start-50 translate-middle-x mt-3" style="z-index:1055;">
    <Toasts Messages="NotificationService.Messages"
            Placement="ToastsPlacement.TopCenter"
            AutoHide="true"
            Delay="4000" />
</div>

@code {
    private bool IsSidebarOpen = true;

    protected override void OnInitialized()
    {
        NotificationService.OnChange += StateHasChanged;
    }

    private void ToggleSidebar()
    {
        IsSidebarOpen = !IsSidebarOpen;
    }

    public void Dispose()
    {
        NotificationService.OnChange -= StateHasChanged;
    }
}
