@using arna.HRMS.ClientServices.Common

@inherits LayoutComponentBase
@inject NotificationService NotificationService

<Toasts Messages="NotificationService.Messages"
        Placement="ToastsPlacement.BottomRight"
        AutoHide="true"
        Delay="4000" />

<CascadingValue Value="Collapsed">
    <div class="d-flex min-vh-100 bg-light">

        <NavMenu OnToggle="ToggleSidebar" />

        <div class="flex-grow-1 d-flex flex-column"
             style="margin-left:@(Collapsed ? "80px" : "264px"); transition: margin-left .3s;">

            <TopBar />

            <main class="flex-grow-1 p-4">
                @Body
            </main>
        </div>

    </div>
</CascadingValue>

@code {
    private bool Collapsed;

    protected override void OnInitialized()
    {
        NotificationService.OnChange += StateHasChanged;
    }

    private void ToggleSidebar()
    {
        Collapsed = !Collapsed;
    }

    public void Dispose()
    {
        NotificationService.OnChange -= StateHasChanged;
    }
}
