@using arna.HRMS.ClientServices.Common
@using arna.HRMS.Components.Navbar
@inherits LayoutComponentBase
@inject NotificationService NotificationService

<div class="d-flex vh-100 overflow-hidden">
    <div class="flex-shrink-0 sidebar"
         style="width:@(IsSidebarOpen ? "260px" : "0");">
        <NavMenu />
    </div>

    <div class="d-flex flex-column flex-grow-1 overflow-hidden">
        <div class="flex-shrink-0 border-bottom bg-white">
            <TopBar OnToggleSidebar="ToggleSidebar" />
        </div>
        <main class="flex-grow-1 overflow-auto bg-light p-4 main-scroll">
            @Body
        </main>
    </div>
</div>

<div class="position-fixed top-0 start-50 mt-3 toasting-container">
    <Toasts Messages="NotificationService.Messages"
            Placement="ToastsPlacement.TopRight" Delay="4000" />
</div>

@code {
    private bool IsSidebarOpen = true;

    protected override void OnInitialized()
    {
        NotificationService.OnChange += StateHasChanged;
    }

    private void ToggleSidebar()
    {
        IsSidebarOpen = !IsSidebarOpen;
    }

    public void Dispose()
    {
        NotificationService.OnChange -= StateHasChanged;
    }
}
