@page "/leaveType"

@using arna.HRMS.ClientServices.Common
@using arna.HRMS.ClientServices.Leave
@using arna.HRMS.Components.Loader
@using arna.HRMS.Components.lib.components.ui.Forms
@using arna.HRMS.Models.Common.Table
@using arna.HRMS.Models.ViewModels.Leave

@inject NavigationManager NavigationManager
@inject ILeaveService LeaveService
@inject IJSRuntime JsRuntime
@inject NotificationService NotificationService


<FullPageLoader Visible="isLoading" />

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="fw-bold text-primary">Leave Types</h3>

        <AppButton cssclass="btn btn-success" Text="Add Leave" OnClick="@(() => NavigationManager.NavigateTo("/leaveType/create"))">
            <i class="bi bi-plus-lg"></i>
        </AppButton>
    </div>

    <AppTable TItem="LeaveTypeViewModel"
              Items="leaveTypes"
              Columns="TableSchemas.LeaveTypes"
              OnEdit="EditLeaveType"
              OnDelete="DeleteLeaveType" />

</div>

@code {
    private List<LeaveTypeViewModel> leaveTypes = new();
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await LoadLeaveTypes();
    }

    private async Task LoadLeaveTypes()
    {
        isLoading = true;

        var result = await LeaveService.GetLeaveTypeAsync();

        if (result.IsSuccess && result.Data != null)
        {
            leaveTypes = result.Data;
        }
        else if (!result.IsSuccess)
        {
            NotificationService.Error(result.Message ?? "Failed to load Leave Types");
            leaveTypes = new List<LeaveTypeViewModel>();
        }
        else
        {
            leaveTypes = new List<LeaveTypeViewModel>();
        }
        isLoading = false;
    }

    private void EditLeaveType(LeaveTypeViewModel model)
    {
        NavigationManager.NavigateTo($"/leaveType/edit/{model.Id}");
    }

    private async Task DeleteLeaveType(LeaveTypeViewModel model)
    {
        bool isConfirmed = await JsRuntime.InvokeAsync<bool>(
            "confirm",
            "Are you sure you want to delete this leave Type?"
        );

        if (!isConfirmed)
            return;

        var result = await LeaveService.DeleteLeaveTypeAsync(model.Id);

        if (!result.IsSuccess)
        {
            NotificationService.Error(result.Message ?? "Unable to delete leave Type.");
            return;
        }

        NotificationService.Success("Leave Type deleted successfully.");
        await LoadLeaveTypes();
    }
}